.media
{
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
}
.dp
{
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
}
.dp:hover
{
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);  
    -webkit-transform:rotate(360deg);  
    /*-webkit-font-smoothing:antialiased;*/
}


/* Chat styles
 * http://www.bootply.com/petrb/104740
 */

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
